ac-comphist.dat
auto-save-list/
bookmarks
irony/
semanticdb/
*.pyc
__pycache__/
projectile-bookmarks.eld
projectile.cache
var/
smex-items
/eshell/lastdir
/recentf

.edbi-ds-history
./notes
./session*
./tramp
.cask/
*.elc
session*
notes
todo.org
ignoreme.el
.cache/
/README.el
lisp/private/
request/
transient/
/org-clock-save.el
/url/
/forge-database.sqlite
/.org-id-locations
/elpa/
eshell/history
eshell/alias
emacs29.el
/quelpa/
private.el
.DS_Store
/etc/diary
/tree-sitter/
/tmp/
/.chatgpt-shell.el
.aider*
.cecli*
