ac-comphist.dat
auto-save-list/
bookmarks
irony/
semanticdb/
*.pyc
__pycache__/
projectile-bookmarks.eld
projectile.cache
var/
smex-items
/eshell/
/recentf

.edbi-ds-history
./notes
./session*
./tramp
.cask/
*.elc
session*
notes
todo.org
ignoreme.el
.cache/
/README.el
lisp/private/
request/
transient/
